.slick-track
{
    display: flex !important;
}

.slick-slide
{
    height: inherit !important;
}

.slick-slide > div { 
    height: 100%;
}

.slick-dots li.slick-active button:before {
    color: #1893c6;
}

.customizeArrow .slick-prev {
    left: 40px;
    z-index: 1000;
}

.customizeArrow .slick-next {
    right: 40px;
    z-index: 1000;
}

.map-container {
    width: 100%;
    height: 70vh;
}